@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?1e2afbd63d8d30cd481f7f9ebe7722e4") format("truetype"),
url("./flaticon.woff?1e2afbd63d8d30cd481f7f9ebe7722e4") format("woff"),
url("./flaticon.woff2?1e2afbd63d8d30cd481f7f9ebe7722e4") format("woff2"),
url("./flaticon.eot?1e2afbd63d8d30cd481f7f9ebe7722e4#iefix") format("embedded-opentype"),
url("./flaticon.svg?1e2afbd63d8d30cd481f7f9ebe7722e4#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-beef:before {
    content: "\f101";
}
.flaticon-bacon:before {
    content: "\f102";
}
.flaticon-cupcake:before {
    content: "\f103";
}
.flaticon-fish:before {
    content: "\f104";
}
.flaticon-shrimp:before {
    content: "\f105";
}
.flaticon-lamb:before {
    content: "\f106";
}
.flaticon-bread:before {
    content: "\f107";
}
.flaticon-chicken:before {
    content: "\f108";
}
.flaticon-diet:before {
    content: "\f109";
}
.flaticon-cabbage:before {
    content: "\f10a";
}
.flaticon-triquetra:before {
    content: "\f10b";
}
.flaticon-triquetra-1:before {
    content: "\f10c";
}
