@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&display=swap');
@import url('//fonts.cdnfonts.com/css/sherwood');



/* Colors */
body {
    background-color: rgb(250, 250, 250);
    min-height: 100vh;

}
a {
    color: #2d8a67 !important;    
    text-decoration: none;
}

a:hover{
    color: #40C575 !important;
}
.main-green {
    color: #40C575 !important 
}

.form-control:focus{
    color: #212529;
    background-color: #fff;
    border-color: #2d8a67;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 0%);
}

.btn-primary {
    background-color: #2d8a67 !important;
    border-color: #2d8a67;
}
.btn-primary:hover{
    background-color: #40C575 !important;
    border-color: #40C575;
}

.btn-red {
    background-color: #c55e40 !important;
}
#recipe-new-image {
    max-height: 300px;
    object-fit: cover;
}
.recipe-picture {
    max-height: 300px;
    object-fit: cover !important;
}

#recipe-pic {
    max-height: 425px;
    object-fit: cover !important;
}

.fa-pen-square{
    color: #2d8a67;
}
.fa-pen-square:hover{
    color: #40C575;
}

.fa-trash{
    color: #c55e40;
}
.fa-trash:hover{
    color: #8a422d;
}
.fa-instagram:hover{
    color: palevioletred;
}
.fa-youtube:hover{
    color:red;
}
.upload {
    background-color: whitesmoke;
    
}
.upload > * {
    opacity: 0.3;
    transition-duration: 0.3s;
}
.upload > *:hover {
    opacity: 0.8;
    transition-duration: 0.3s;
}

.recipe-form {
    border: 0;
}
.recipe-form:hover {
    background-color: whitesmoke;
}
.recipe-form:focus {
    border-bottom: 2px solid #2d8a67;
    background-color: whitesmoke;
}
select > .recipe-form {
    color: #535353;
}

.step-counter {
    background-color: #565656;
    border-radius: 50%;
    min-width: 24px;
    margin: 0px
}
.remove-input{
    color: #565656;
}
.remove-input:hover{
    color: darkred;
}
.profile-recipe-table:hover{
    background-color: whitesmoke;
} 
.ing-step-hover:hover {
    background-color: whitesmoke;
}
.cat-list > div {
    min-height: 96px;
}
.cat-list > div:hover{
    background-color: white;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.1);
    
}
.recipe-card > img {
    object-fit: cover;
    width: 100%;
    height: 180px;
}
#recipeImageUpload, .myBox, .cat-form{
    cursor:pointer;
}

#recipeTitleInput::placeholder{
    font-size: xx-large;
    font-weight: 600;
}
#recipeTitleInput {
    font-size: xx-large;
    font-weight: 600;
    color: #535353;
}
#newIngredientFields > li {
    list-style-type: none;
}
#newStepsFields > li::marker {
    font-weight: bold;
}
/* Fonts */
/* h1, h2, h3, h4, h5, h6 {
    font-family: 'Coustard', serif;
    font-weight: 400;
} */
.cta-image {
    max-width: 100%;
}

.cat-list-icon{
    font-size: xx-large;
}

#logo {
    font-family: 'Sherwood', sans-serif;
    font-weight: 900;
    font-size: 250%;
    letter-spacing: 2px;
    transition-duration: 0.3s;
}

#logo:hover{
    color: white !important;
    transition-duration: 0.3s;
}
.search-group{
    background-color: white;
}
.search-btn{
    background-color: white;
    color: #535353;
}
#query {
    font-size: xx-large;
    font-weight: 600;
    color: #535353;
    border: 0;
}


/* Images */
#index-dish {
    background-image: url("https://images.pexels.com/photos/1683549/pexels-photo-1683549.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}
 