<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Talamh Bia, the Land of Food • Irish Recipes</title>
    <!-- Favicon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Fontawesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Flaticon icons -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/flaticon.css') }}">

    <!-- Project's CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Jquery -->
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>

    <!-- Project's JS -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>



</head>

<body class="d-flex flex-column">
    <!-- Responsive navbar from startbootstrap.com/-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand main-green" id="logo" href="{{ url_for('index') }}">
                <div class="row">
                    <div class="col-2"><i class="flaticon-triquetra me-1 d-block"></i></div>
                    <div class="col">
                        <p class="d-inline pb-3"> Talamh Bia</p>
                    </div>
                </div>
            </a>



            <!-- Hamburger button - mobile -->
            <button class="navbar-toggler ms-auto me-auto" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

            <!-- Nav Links -->
            <div class="collapse navbar-collapse fs-5 text-center" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                    {% if session.user %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('addrecipe') }}">New Recipe</a></li>
                    <li class="nav-item"><a class="nav-link"
                            href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Log In</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <section class="text-center container mt-3">
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        {% if message == "Oops... This username is already taken!" or message == "Incorrect Username and/or Password" %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% elif message == "Registration Successful!" or message == "Profile Successfully Updated!" %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% elif message == "Recipe Successfully Updated!" %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% elif message == "Recipe Published Successfully!" %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>

        {% else %}
        <div class="alert alert-secondary" role="alert">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    <main class="container">
        {% block content %}

        {% endblock content %}
    </main>

    <!-- Footer-->
    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container text-center">
            <span class="text-light">Copyright &copy; Talahm Bia • 2021 • By Mario Gusman</span>
        </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>