{% extends 'base.html' %}
{% block content %}

<!-- Page Content-->

{% if logged_in == False %}
<!-- Register CTA if user not in Session -->
<div class="row align-items-center justify-content-center my-5">
    <div class="col-10">
        <div class="card-panel">
            <div class="card">
                <div class="row">

                    <div class="col-md-6">
                        <img src="https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                            alt="Delicious food" class="cta-image rounded-start" loading="lazy">
                    </div>

                    <div class="col-md-6 ps-3 pt-3">
                        <p class="display-6">Welcome to Talamh Bia!</p>
                        <p class="lead">Here you can <strong>find and share</strong> the best Irish Recipes.<br>
                            We have everything, from Donegal to Cork, from Spud to Lobster!</p>

                        <p class="lead">Join us now!</p>
                        <a href="{{ url_for('register') }}">
                            <button class="btn btn-primary btn-lg">Register</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- Search -->
<div class="row align-items-center justify-content-center mt-5 mb-3">
    <div class="col-8">
        <form action="">
            <div class="input-group search-group ps-3 rounded border">
                <input type="text" class="form-control" name="search" id="home-search" placeholder="Search" autofocus>
                <button class="btn search-btn"><i class="fas fa-2x fa-search"></i></button>
            </div>
            <div class="div text-center d-flex flex-row justify-content-center text-muted">
                <p class="me-1 fw-bold">Suggested:</p>
                <a href="#" class="ps-2">beef</a>,
                <a href="#" class="ps-2">fish</a>,
                <a href="#" class="ps-2">omelette</a>
            </div>
        </form>
    </div>
</div>

<!-- Categories -->
<div class="row align-items-center justify-content-center mb-5">
    <div class="col-8">
        <p class="display-6 text-center">Categories</p>
        <hr>
        <div class="row align-content-center cat-list">

            <div class="col-md-3 d-flex flex-row rounded">
                <i class="flaticon-fish cat-list-icon align-self-center"></i>
                <p class="align-self-center ps-3 pt-3">Fish</p>
            </div>

            <div class="col-md-3 d-flex flex-row rounded">
                <i class="flaticon-beef cat-list-icon align-self-center"></i>
                <p class="align-self-center ps-3 pt-3">Beef</p>
            </div>
            <div class="col-md-3 d-flex flex-row rounded">
                <i class="flaticon-chicken cat-list-icon align-self-center"></i>
                <p class="align-self-center ps-3 pt-3">Poultry</p>
            </div>

            <div class="col-md-3 d-flex flex-row rounded">
                <i class="flaticon-shrimp cat-list-icon align-self-center"></i>
                <p class="align-self-center ps-3 pt-3">Shellfish</p>
            </div>
            <div class="col-md-3 d-flex flex-row rounded">
                <i class="flaticon-cabbage cat-list-icon align-self-center"></i>
                <p class="align-self-center ps-3 pt-3">Vegetables</p>
            </div>
            <div class="col-md-3 d-flex flex-row rounded">
                <i class="flaticon-bacon cat-list-icon align-self-center"></i>
                <p class="align-self-center ps-3 pt-3">Boar and Pork</p>
            </div>
            <div class="col-md-3 d-flex flex-row rounded">
                <i class="flaticon-diet cat-list-icon align-self-center"></i>
                <p class="align-self-center ps-3 pt-3">Eggs and Dairy</p>
            </div>
            <div class="col-md-3 d-flex flex-row rounded">
                <i class="flaticon-lamb cat-list-icon align-self-center"></i>
                <p class="align-self-center ps-3 pt-3">Lamb, Mutton and Goat</p>
            </div>

            <div class="col-md-3 d-flex flex-row rounded p-2 offset-md-3">
                <i class="flaticon-bread cat-list-icon align-self-center"></i>
                <p class="align-self-center ps-3 pt-3">Bread, Scones and
                    Crackers</p>
            </div>
            <div class="col-md-3 d-flex flex-row rounded p-2">
                <i class="flaticon-cupcake cat-list-icon align-self-center"></i>
                <p class="align-self-center ps-3 pt-3">Cakes, Pastries and
                    Desserts</p>
            </div>
        </div>
    </div>
</div>








{% endblock content %}