{% extends 'base.html' %}
{% block content %}

<!-- Page Content-->

{% if logged_in == False %}
<!-- Register CTA if user not in Session -->
<div class="row align-items-center justify-content-center my-5">
    <div class="col-10">
        <div class="card-panel">
            <div class="card">
                <div class="row">

                    <div class="col-md-6">
                        <img src="https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                            alt="Delicious food" class="cta-image rounded-start" loading="lazy">
                    </div>

                    <div class="col-md-6 p-4">
                        <p class="display-6">Welcome to Talamh Bia!</p>
                        <p class="lead">Here you can <strong>find and share</strong> the best Irish Recipes.<br>
                            We have everything, from Donegal to Cork, from Spud to Lobster!</p>

                        <p class="lead">Join us now!</p>
                        <form style="display: inline" action="{{ url_for('register') }}" method="get">
                            <button>Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- Search -->
<div class="row align-items-center justify-content-center mt-5 mb-3">
    <div class="col-8-md">
        <form action="{{ url_for('search') }}" method="POST">
            <div class="input-group search-group ps-3 rounded border">
                <input type="text" class="form-control" name="query" id="query" minlength="3" placeholder="Search"
                    autofocus required>
                <button class="btn search-btn pe-4"><i class="fas fa-2x fa-search"></i></button>
            </div>
        </form>
    </div>
</div>

<!-- Categories -->
<div class="row align-items-center justify-content-center mb-5 mt-5">
    <div class="col-8">
        <p class="display-6 text-center">Categories</p>
        <hr>

        <div class="row align-content-center cat-list">

            <div class="col-md-3 rounded cat-form">
                <form action="{{ url_for('search') }}" method="POST" class="h-100 d-flex flex-row align-items-center">
                    <i class="flaticon-fish cat-list-icon align-self-center ms-2 me-3"></i>
                    <p class="align-self-center mb-0">Fish</p>
                    <input type="hidden" name="cat-query" value="Fish">
                </form>
            </div>


            <div class="col-md-3 rounded cat-form">
                <form action="{{ url_for('search') }}" method="POST" class="h-100 d-flex flex-row align-items-center">
                    <i class="flaticon-beef cat-list-icon align-self-center ms-2 me-3"></i>
                    <p class="align-self-center mb-0">Beef</p>
                    <input type="hidden" name="cat-query" value="Beef">
                </form>
            </div>

            <div class="col-md-3 rounded cat-form">
                <form action="{{ url_for('search') }}" method="POST" class="h-100 d-flex flex-row align-items-center">
                    <i class="flaticon-chicken cat-list-icon align-self-center ms-2 me-3"></i>
                    <p class="align-self-center mb-0">Poultry</p>
                    <input type="hidden" name="cat-query" value="Poultry">
                </form>
            </div>


            <div class="col-md-3 rounded cat-form">
                <form action="{{ url_for('search') }}" method="POST" class="h-100 d-flex flex-row align-items-center">
                    <i class="flaticon-shrimp cat-list-icon align-self-center ms-2 me-3"></i>
                    <p class="align-self-center mb-0">Shellfish</p>
                    <input type="hidden" name="cat-query" value="Shellfish">
                </form>
            </div>

            <div class="col-md-3 rounded cat-form">
                <form action="{{ url_for('search') }}" method="POST" class="h-100 d-flex flex-row align-items-center">
                    <i class="flaticon-cabbage cat-list-icon align-self-center ms-2 me-3"></i>
                    <p class="align-self-center mb-0">Vegetables</p>
                    <input type="hidden" name="cat-query" value="Vegetables">
                </form>
            </div>


            <div class="col-md-3 rounded cat-form">
                <form action="{{ url_for('search') }}" method="POST" class="h-100 d-flex flex-row align-items-center">
                    <i class="flaticon-bacon cat-list-icon align-self-center ms-2 me-3"></i>
                    <p class="align-self-center mb-0">Boar and Pork</p>
                    <input type="hidden" name="cat-query" value="Boar and Pork">
                </form>
            </div>

            <div class="col-md-3 rounded cat-form">
                <form action="{{ url_for('search') }}" method="POST" class="h-100 d-flex flex-row align-items-center">
                    <i class="flaticon-diet cat-list-icon align-self-center ms-2 me-3"></i>
                    <p class="align-self-center mb-0">Eggs and Dairy</p>
                    <input type="hidden" name="cat-query" value="Eggs and Dairy">
                </form>
            </div>


            <div class="col-md-3 rounded cat-form">
                <form action="{{ url_for('search') }}" method="POST" class="h-100 d-flex flex-row align-items-center">
                    <i class="flaticon-lamb cat-list-icon align-self-center ms-2 me-3"></i>
                    <p class="align-self-center mb-0">Lamb, Mutton and Goat</p>
                    <input type="hidden" name="cat-query" value="Lamb, Mutton and Goat">
                </form>
            </div>

            <div class="col-md-3 offset-md-3 rounded cat-form">
                <form action="{{ url_for('search') }}" method="POST" class="h-100 d-flex flex-row align-items-center">
                    <i class="flaticon-bread cat-list-icon align-self-center ms-2 me-3"></i>
                    <p class="align-self-center mb-0">Bread, Scones and
                        Crackers</p>
                    <input type="hidden" name="cat-query" value="Bread, Scones and
                    Crackers">
                </form>
            </div>


            <div class="col-md-3 rounded cat-form">
                <form action="{{ url_for('search') }}" method="POST" class="h-100 d-flex flex-row align-items-center">
                    <i class="flaticon-cupcake cat-list-icon align-self-center ms-2 me-3"></i>
                    <p class="align-self-center mb-0">Cakes, Pastries and
                        Desserts</p>
                    <input type="hidden" name="cat-query" value="Cakes, Pastries and
                    Desserts">
                </form>
            </div>

        </div>
    </div>
</div>

<!-- Recently Added -->
<div class="row align-items-center justify-content-center mt-3 mb-5">
    <div class="col-8">
        <p class="display-6 text-center">Recently Added</p>
        <hr>
        <div class="row">

            <!-- Most Recent -->
            {% for recipe in recent %}
            {% if loop.index < 7 %} <div class="col-lg-4">
                <div class="card mb-3 recipe-card myBox">
                    <!-- Recipe Image -->
                    {% if recipe.photo_url %}
                    <img src="{{ recipe.photo_url }}" class="card-img-top" alt="Picture of {{ recipe.title }}"
                        height="140">
                    {% else %}
                    <img src="{{ url_for('static', filename='images/talamh_bia.png') }}" class="card-img-top"
                        alt="Picture of {{ recipe.title }}" height="140">
                    {% endif %}
                    <div class="card-body ">
                        <!-- Recipe Name/Description -->
                        <a href="{{ url_for('recipes', recipe_id=recipe._id) }}">
                            <h5 class="card-title mb-0">{{ recipe.title }}</h5>
                        </a>
                        <p class="small text-muted">{{ recipe.author }}</p>
                        <p class="card-text">{{ recipe.description }}</p>
                        <div class="row m-0 p-0 g-0">
                            <div class="col d-flex flex-row justify-content-evenly">
                                <p class="small mb-0"><i class="far fa-clock"></i> {{ recipe.time }}</p>
                                <p class="small mb-0"><i class="fas fa-concierge-bell"></i> {{ recipe.yeld }}</p>
                            </div>
                        </div>

                    </div>
                </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

{% endblock content %}