{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row gx-4 gx-lg-5 align-items-center justify-content-md-center my-5">
        <div class="col-lg-6">

            <p class="display-4">Login</p>
            <hr>

            <form method="POST" action="{{ url_for('login') }}">
                <div class="mb-3">
                    <label for="username" name="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" aria-describedby="username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input id="password" name="password" type="password" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary btn-green">Log in</button>
                <span class="small muted">First time here? <a href=" {{ url_for('register') }}">Join us</a>.</span>
        </div>
        </form>

    </div>
</div>
</div>
{% endblock content %}