{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row align-items-center justify-content-md-center my-5">
        <div class="col-md-8">
            <div class="card-panel">

                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">

                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="recipes-tab" data-bs-toggle="tab"
                                    data-bs-target="#recipes" type="button" role="tab" aria-controls="recipes"
                                    aria-selected="false">My Recipes</a>
                            </li>

                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                    type="button" role="tab" aria-controls="profile" aria-selected="false">
                                    Profile</a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content" id="myTabContent">
                        <!-- User Profile and Social Media Tab-->
                        <div class="tab-pane fade show py-5 px-5" id="profile" role="tabpanel"
                            aria-labelledby="profile-tab">
                            <p class="display-6">Profile</p>
                            <p class="lead">You can update your <strong>Instagram</strong> and <strong>Youtube</strong>
                                pages below. <br>
                                They will be shown on your recipes right next to your name!</p>

                            <!-- User update form -->
                            <form method="post">
                                <!-- Username -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-muted" id="basic-addon1"><i
                                            class="fas fa-user"></i></span>
                                    <input type="text" class="form-control" placeholder="{{ username }}"
                                        aria-label="Username" aria-describedby="basic-addon1" disabled readonly>
                                </div>
                                <!-- Youtube -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-muted" id="basic-addon1">
                                        <i class="fab fa-youtube"></i></span>
                                    <input type="text" class="form-control" name="user_youtube"
                                        value="{{ user_social.user_youtube }}"
                                        placeholder="URL of your Channel (eg. youtube.com/channel/UCKRfPElX5ZJDoJavDqPrpKg)"
                                        aria-label="Username" aria-describedby="basic-addon1"
                                        pattern="^https?:\/\/(www\.)?youtube\.com\/(channel\/UC[\w-]{21}[AQgw]|(c\/|user\/)?[\w-]+)$">
                                </div>
                                <!-- Instagram -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-muted" id="basic-addon1"><i
                                            class="fab fa-instagram"></i></span>
                                    <input type="text" class="form-control" name="user_instagram"
                                        value="{{ user_social.user_instagram }}"
                                        placeholder="Your IG Username, (eg. talamh_bia)" aria-label="Username"
                                        aria-describedby="basic-addon1">
                                </div>
                                <button class="btn btn-primary">Update <i class="fas fa-sync-alt"></i></button>
                            </form>
                        </div>

                        <!-- List of recipes by the user Tab -->
                        <div class="tab-pane fade show active py-5 px-5" id="recipes" role="tabpanel"
                            aria-labelledby="recipes-tab">
                            <p class="display-6">My Recipes</p>
                            <p class="lead">Here you can View, Edit and Delete your recipes.</p>

                            <!-- My Recipes Area -->
                            <div class="row">
                                <!-- Labels -->
                                <div class="fw-bold fs-5 d-flex flex-row ">
                                    <div class="col-8">Recipe Name</div>
                                    <div class="col-3">Category</div>
                                    <div class="col-1">Edit</div>
                                </div>
                                <hr class="mt-2">

                                <!-- Recipes Pulled from DB -->
                                <ul>

                                    {% if recipes %}
                                    {% for recipe in recipes %}
                                    <li class="d-flex flex-row profile-recipe-table rounded">
                                        <div class="col-8 ps-1">
                                            <a href="{{ url_for('recipes', recipe_id=recipe._id) }}">
                                                <p class="fw-bold m-0 p-0 pt-1 g-0">{{ recipe.title.title() }}</p>
                                            </a>
                                        </div>
                                        <div class="col-3">
                                            <p class="m-0 p-0 pt-1 g-0">{{ recipe.category.title().replace("_", " & ")
                                                }}</p>
                                        </div>
                                        <div class="col-1 d-flex flex-row align-content-start">
                                            <!-- Edit button -->
                                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
                                                <button type="button" class="btn g-0 m-0 p-0 pt-1">
                                                    <i class="fas fa-pen-square fa-2x mx-1"></i>
                                                </button>
                                            </a>
                                        </div>
                                    </li>
                                    {% endfor %}
                                    {% else %}
                                    <div class="d-flex flex-column justify-content-center align-items-center">
                                        <p class="lead">Looks like you haven't published any recipes yet.</p>
                                        <a href="{{ url_for('addrecipe') }}"> <button class="btn btn-success">Create
                                                Recipe</button> </a>
                                    </div>
                                    {% endif %}

                                </ul>
                            </div>

                        </div>
                    </div>

                </div>



            </div>
        </div>
    </div>
</div>



{% endblock %}